/* Estilos generales */

* {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%
}


/* Color de la navbar */

.navbar-default {
    background-color: #f7f7f7;
}


/* Hover para los elementos de la navbar */

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
}


/* Estilos para la section 1 */

.section-one {
    margin-top: 50px;
    text-align: center;
    background-color: #33485c;
    width: 100%;
}

.white-text {
    color: white;
}

.container-text {
    margin-top: 50px;
}

.title {
    font-size: 120px;
}

.subtitle {
    margin-bottom: 50px;
}

.img-app {
    text-align: center;
}


/* estilos para la seccion dos */

.section-two {
    background-color: #f7f7f7;
    text-align: center;
    width: 100%;
}

.title-section-two {
    margin-top: 50px;
    margin-bottom: 50px;
}

.center {
    text-align: center
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.cont {
    margin-top: 20px;
    margin-bottom: 20px;
}

.turquesa-text {
    color: turquoise;
    margin-top: 40px;
    text-align: left
}

.title-some {
    margin-bottom: 40px;
}

.left {
    text-align: left;
}


/* Estilos section 3 */

.section-tres {
    background-color: #33485c;
    width: 100%;
}

.title-section-tres {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.img-person {
    margin-bottom: 100px;
}


/* Estilos section 4 */

.section-cuatro {
    background-color: #2e2e2e;
    width: 100%;
}

.title-section-cuatro {
    margin-top: 50px;
}

.input-group {
    width: 100%;
}

.input-text {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.btn {
    margin-top: 30px;
    margin-bottom: 100px;
    background-color: #56ba56;
}


/* footer */

footer {
    background-color: #212121;
    padding: 25px;
    text-align: center;
    width: 100%;
}

.span-footer {
    color: #1d5742
}